<!-- 此頁是一直會顯示的 -->
<header class="font-dark-green">
  <!-- Logo 區域開始 -->
  <a href="#" class="desktop">
    <!-- <img src="assets/images/logo/logo-all-dark.svg" alt="Sweetaste 的 Logo"> -->
  </a>

  <a href="#" class="mobile">
    <!-- <img src="assets/images/logo/logotype.svg" alt="Sweetaste 的 Logo"> -->
  </a>
  <!-- Logo 區域结束 -->

  <!-- 菜單區域開始 -->
  <nav class="desktop">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/products/all">Products</a></li>
    </ul>
  </nav>

  <nav class="mobile">
    <i class="material-icons">menu</i>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/products/all">Products</a></li>
    </ul>
  </nav>
  <!-- 菜單區域结束 -->

  <!-- 購物車圖標區域開始 -->
  <a href="/cart" class="cart">
    <i class="material-icons">shopping_cart</i>
  </a>
  <!-- 購物車圖標區域结束 -->
</header>
<!-- <footer>

  <div class="subscription bg-dark-green font-light-green">

    <img class="logo desktop" src="assets/images/logo/logo-light.svg" alt="Sweetaste 的 Logo">

    <h3><img class="logo mobile" src="assets/images/logo/logo-light.svg" alt="Sweetaste 的 Logo">訂閱你我的甜蜜郵件</h3>

    <div class="input-area">

      <form class="bg-light-green">

        <label for="email">
          <i class="material-icons">email</i>
        </label>

        <input type="email" name="email" id="email">

        <button type="submit">
          <i class="material-icons">arrow_forward</i>
        </button>

      </form>

    </div>

  </div>

  <div class="contact-info bg-light-green font-dark-green">

    <img class="logo" src="assets/images/logo/logotype-lg-dark.svg" alt="Sweetaste 的 Logo">

    <img class="slogan" src="assets/images/logo/sm-今天是個吃甜點的好日子.svg" alt="Sweetaste - 今天是個吃甜點的好日子">

    <div class="info">
      <p>02-1234-5678</p>
      <p>dessertproducts@email.com</p>
    </div>

    <div class="icon">
      <a href="javascript:;">
        <img src="assets/images/icon/ic-line@.svg" alt="連結到官方 Line@ 帳號的icon">
      </a>
      <a href="javascript:;">
        <img src="assets/images/icon/ic-facebook.svg" alt="連結到官方 Facebook 帳號的icon">
      </a>
    </div>


  </div>

</footer> -->
<router-outlet></router-outlet>
